.appLayout {
  background-color: #f7f7f7;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: padding-right 0.35s ease-in-out;
  padding: 30px 30px 50px;
}
